!!!
%html
  %head
    %meta{ charset:"utf-8"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{name:"description", content:"Swim Shorts Film Festival"}
    %meta{name:"author", content:"Daniel Bearl"}

    = favicon_link_tag

    %title Swimshorts
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel: 'stylesheet', type: 'text/css'}
    
  %body

    -[:success, :notice, :error, :alert].each do |level|
      - unless flash[level].blank?
        %div{class: "alert alert-#{flash_class(level)}"}
          %a{ href: "#", class: "close", data: { dismiss: "alert" } } &times;
          = flash[level]
    -if @submission and @submission.errors.any?
      .alert.alert-danger
        %a{ href: "#", class: "close", data: { dismiss: "alert" } } &times;
        %p= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
        %ul
          - @submission.errors.full_messages.each do |msg|
            %li= msg

    -if current_user
      =link_to "Review Submissions", submissions_path
      |
      = link_to "Log Out", log_out_path
    = yield
